langchain
langchain-community
langchain-qdrant
langchain-openai
langchain-huggingface
langgraph
streamlit
qdrant-client
pypdf
docx2txt
tiktoken
unstructured
arize-phoenix==20.16.0
openinference-instrumentation-langchain
opentelemetry-api
pydantic
flashrank
sentence-transformers==6.1.0
